/* Fonts */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1,
h2,
h3,
p,
a {
    font-family: 'poppins', sans-serif;
    line-height: normal;
}

h1 {
    font-size: 148px;
    font-weight: 800;
    color: #C3332F;
}

h2 {
    font-size: 100px;
    font-weight: 800;
    color: #fff;
    line-height: 0;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    color: #1e1e20;
}

p,
a {
    font-size: 32px;
    font-weight: 400;
    color: #1e1e20;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 92px;
    }

}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p,
    a {
        font-size: 16px;
    }

}

/* END Fonts */

body {
    background-color: #1e1e20;
}

/* Nav bar */

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

#homebutton,
#programbutton,
#billedebutton,
#børnelandbutton {
    background-color: white;
    border-style: none;
    font-size: 32px;
    font-weight: 400;
    color: #1e1e20;
    text-decoration: none;
    padding: 40px;
}

#language {
    display: flex;
    justify-content: right;
    background-color: white;
    border-style: none;
    font-size: 32px;
    font-weight: 400;
    color: #1e1e20;
    text-decoration: none;
}

#menu {
    display: none;
    height: 35px;
    width: auto;
}

.menu img {
    display: none;
}

@media screen and (max-width: 1200px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 80px;
    }

    #homebutton,
    #programbutton,
    #billedebutton,
    #børnelandbutton {
        display: none;
    }

    #language {
        display: none;

    }

    #menu {
        display: block;
        height: 100px;
    }

}

@media screen and (max-width: 500px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 48px;
    }

    #homebutton,
    #programbutton,
    #billedebutton,
    #børnelandbutton {
        display: none;
    }

    #language {
        display: none;

    }

    .navbar img {
        height: 50px;
        width: auto;
    }

    #menu {
        height: 50px;
        width: auto;
    }


}

/* END Nav bar */

.herotext {
    gap: 80px;
    padding: 80px;
}

.herobtn {
    display: flex;
    justify-content: center;
}

#bigtext {
    color: #c3332f;
    justify-content: center;
    font-size: 130px;
    text-align: center;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'poppins';
}

#introbillede {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-image: url(hero\ bg\ image.png);
}

#slideshow {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-image: url(photos/PicBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 80px;

}
#please{
    color: #fff;
}

#købbillet {
    display: flex;
    justify-content: center;
    background-color: #C3332F;
    padding: 25px 75px;
    width: 350px;
    border-radius: 20px;
    font-family: 'poppins';
    color: white;
    font-size: 36px;
    margin: 40px;
    border: none;
}

#littlepicture {
    padding-top: 40px;
    height: 500px;
}

.sliderphotos {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    scroll-padding-right: 0;
}

.sliderphotos::-webkit-scrollbar {
    display: none;
}

.photoslide {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.photoslide img {
    max-width: 60vw;
    height: auto;
    border-radius: 20px;
}

#photo1 img,
#photo2 img,
#photo3 img {
    border-radius: 20px;
}

.navbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.navbtn.left {
    left: 5%;
}

.navbtn.right {
    right: 5%;
}

@media screen and (max-width: 768px) {

    #bigtext {
        font: size 130px;

    }

    #købbillet {
        padding: 20px;
        width: 150px;
        border-radius: 20px;
        font-size: medium;
    }


    #littlepicture {
        padding-top: 40px;
        height: 250px;
    }

    .photoslide {
        position: relative;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    .photoslide img {
        max-width: 60vw;
        height: auto;

    }

    .navbtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
    }

    .navbtn.left {
        left: 5%;
    }

    .navbtn.right {
        right: 5%;
    }

}

/* Experiences */

#experienceh {
    color: #fff;
    font-family: 'poppins';
    text-align: center;
    background: linear-gradient(#c3332f 0 0) no-repeat;
    background-size: 70% 10px;
    background-position: center;
    letter-spacing: 30px;
}

.experiences-grid {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: #c3332f;
    gap: 80px;
    padding: 80px;
    scroll-padding-top: 0px;
}

.experiences-grid::-webkit-scrollbar {
    display: none;
}

.experiences-grid p {
    align-items: center;
    text-align: center;
    padding: 5px;
}

.experiences-grid img {
    border-radius: 100px;
    border: 0px solid black;
    width: 100px;
    height: 100px;
}

.experiences-grid h1 {
    color: #000;
    font-size: xx-large;
    align-items: center;
}

.experiences-grid p {
    color: white;
    font-size: x-large;
}

.page {
    display: flex;
    flex: 0 0 100vw;
    position: relative;
    justify-content: space-evenly;
    align-items: flex-start;
    scroll-margin-top: 50vh;
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 80px;
}

.card {
    display: flex;
    flex: 0 0 33.33%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.nav-btn {
    position: absolute;
    border-radius: 50px;
    width: 100px;
    height: 200px;
    padding: 25px;
    margin: 25px;
}

.nav-btn.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-btn.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-btn img {
    height: 50px;
    width: 50px;
}  
    
.Rytterdyst p {
    color: white;
    background-color: #C3332F;
    padding: 40px;
    border-radius: 30px;

}

.Rytterdyst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
   
}
.rytterdyst {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 768px) {

    #experienceh {
        color: #fff;
        font-family: 'poppins';
        text-align: center;
        background: linear-gradient(#c3332f 0 0) no-repeat;
        background-size: 80% 5px;
        background-position: center;
        letter-spacing: 20px;
        font-size: 60px
    }

    .experiences-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .card {
        flex-direction: column;
        width: 50%;
        justify-content: center;
        text-align: center;
        padding: 12px;
    }

    .nav-btn img {
        height: 30px;
        width: 30px;
    }

}

@media screen and (max-width: 1000px) {

    .experiences-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .card {
        flex-direction: column;
        width: 50%;
        justify-content: center;
        text-align: center;
        padding: 12px;
    }

    .nav-btn img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    #experienceh {
        font-size: 26px;
    }

}

/* Experiences END */

/* Tattoshow */

.tattootext {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
#tattooshowtext {
    color: #fff;
    font-family: 'poppins';
    letter-spacing: 20px;
    font-size: 100px;
}

.tattoobox {
    display: flex;
    justify-content: center;
    gap: 80px;
}
#tattooinfo {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #c3332F;
    height: 600px;
    padding: 40px;
    border-radius: 30px;
    line-height: 40px;
    width: 50%;
}

#tattoopic {
    flex: 1;
    height: 680px;
    padding: 40px;
    margin-bottom: 80px;
    width: 45%
}

/* Optog */

h2 {
    display: flex;
    justify-content: center;
}

.optogheader {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.optogheader img {
    height: 10px;
    width: 35vw;
    margin: 5%;
}

.optogbox {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 0px 80px;
    height: fit-content;
}

.optogtext {
    display: flex;
    width: 45vw;
    height: auto;
    align-self: stretch;
    align-items: center;
    background-color: #c3332F;
    padding: 40px;
    border-radius: 30px;
    line-height: 40px;
    width: 50vw;
    text-align: center;
}

.optogtext p {
    color: #fff;
}

.optogpic img {
    height: 100% ;
    border-radius: 30px;
    align-self: stretch;
    width: 50vw;
}

/* END Optog*/

/* Ringriderfest info */

.ringridertext {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

#ringriderfesttext {
    color: #fff;
    font-family: 'poppins';
    letter-spacing: 20px;
    font-size: 100px;
}

.festbox {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#festinfo {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #c3332F;
    height: 600px;
    padding: 40px;
    border-radius: 30px;
    line-height: 40px;
    width: 50%;
}

#infopic {
    flex: 1;
    height: 680px;
    padding: 40px;
    margin-bottom: 80px;
    width: 45%
}

.festbutton {
    display: flex;
    justify-content: center;
}

#rytterbutton {
    background-color: #C3332F;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    color: white;
    font-size: large;
}

@media screen and (min-width: 2000px) {
    .ringridertext {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }

    #ringriderfesttext {
        color: #fff;
        font-family: 'poppins';
        letter-spacing: 20px;
        font-size: 100px;
    }

    .festbox {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    #littlepicture {
        padding-top: 40px;
        height: 500px;
    }

    #slideshow {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        background-image: url(photos/PicBG.png);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 40px;
        padding-bottom: 80px;
        height: 1000px;
    }

    #festinfo {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: #c3332F;
        height: 500px;
        padding: 40px;
        margin: 40px;
        border-radius: 30px;
        line-height: 40px;
        flex: 1;
        width: 50%;
    }

    #infopic {
        flex: 1;
        height: 580px;
        padding: 40px;
        width: 50%;
        object-fit: cover;
    }

    .festbutton {
        display: flex;
        justify-content: center;
    }

    #rytterbutton {
        background-color: #C3332F;
        padding: 40px;
        width: 350px;
        border-radius: 20px;
        color: white;
        font-size: large;
    }

}

@media screen and (max-width: 768px) {

    .ringridertext {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    #ringriderfesttext {
        color: #fff;
        font-family: 'poppins';
        letter-spacing: 10px;
        font-size: 40px;
    }

    .festbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    #festinfo {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: #c3332F;
        height: fit-content;
        padding: 40px;
        border-radius: 30px;
        line-height: 35px;
        text-align: center;
        width: 75%;

    }

    #infopic {
        flex: 1;
        height: 380px;
        padding: 40px;
        margin-bottom: 80px;
        width: 90%;
    }

    .festbutton {
        display: flex;
        justify-content: center;
    }

    #rytterbutton {
        background-color: #C3332F;
        padding: 40px;
        width: 350px;
        border-radius: 20px;
        color: white;
        font-size: large;
    }

    #festlines {
        height: 5px;

    }
}

@media screen and (max-width: 500px) {

    #ringriderfesttext {
        font-size: 26px;
        letter-spacing: 0;
    }

}

/* info END */

/* Sponsor section */

.sponsor {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
}

.sponsortext {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.sponsortext img {
    height: 10px;
    object-fit: cover;
}

.sponsorimg {
    height: 100px;
    width: auto;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
    border: 7px solid #C3332F;
}

.slider img {
    height: 100px;
}

.slider {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 40px;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 1440px) {

    h2 {
        font-size: 80px;
    }

    .sponsortext img {
        height: 7px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1224px) {

    h2 {
        font-size: 64px;
    }

    .sponsor {
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 12px;
    }

    .sponsortext {
        gap: 20px;
    }

    .sponsortext img {
        height: 5px;
        width: 300px;
    }

    .sponsorimg {
        height: auto;
        width: auto;
        padding: 40px;
        border: 4px solid #C3332F;
    }

    .slider img {
        height: 75px;
    }

}

@media screen and (max-width: 768px) {
    .sponsortext img {
        width: 150px;
    }

    .sponsorimg {
        border: 3px solid #C3332F;
    }

    .slider img {
        height: 50px;
    }

}


@media screen and (max-width: 500px) {
    .sponsortext h2 {
        font-size: 36px;
    }

}

/* END Sponsor section */

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 160px;
    padding: 80px;
}

.contact,
.adresse,
.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footer h3,
.footer p,
.footer a {
    text-align: center;
}

.contact img {
    width: 100px;
    height: 69px;
    object-fit: contain;
}

.socialmediaphotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialmediaphotos img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1224px) {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 24px;
    }

    .contact img {
        width: 40px;
        height: 28px;
        object-fit: contain;
    }

    .socialmediaphotos img {

        width: 40px;
        height: 40px;
        gap: 12px;
    }
}