/* Fonts */

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1,
h2,
h3,
p,
a {
    font-family: 'poppins' sans-serif;
    line-height: normal;
}


h1 {
    font-size: 148px;
    font-weight: 800;
    color: #C3332F;
}

h2 {
    font-size: 128px;
    font-weight: 800;
    color: #fff;
    line-height: 0;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    color: #1e1e20;
}

p,
a {
    font-size: 32px;
    font-weight: 400;
    color: #1e1e20;
    text-decoration: none;
}

/* END Fonts */

body {
    background-color: #1e1e20;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#homebutton {
    background-color: white;
    border-style: none;
}

#programbutton {
    background-color: white;
    border-style: none;
}

#billedebutton {
    background-color: white;
    border-style: none;
}

#børnelandbutton {
    background-color: white;
    border-style: none;
}

#language {
    display: flex;
    justify-content: right;
    background-color: white;
    border-style: none;
}

#bigtext {
    color: #c3332f;
    display: flex;
    justify-content: center;
}

#intro {
    display: flex;
    justify-content: center;
    color: white;
}

#introbillede {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(hero\ bg\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

#købbillet {
    display: flex;
    justify-content: center;
    background-color: #c3332f;
    color: white;
    padding: 20px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    border-style: solid;
    border-color: #c3332f;
}

/* Experiences */


#experienceh {
    color: #fff;
    font-family: 'poppins';
    text-align: center;
    text-decoration:line-through;
    text-decoration-thickness: 10px;
    text-decoration-color: #c3332f;
    letter-spacing: 30px;
}

.experiences-grid {
    display:flex;
    grid-auto-rows: max-content;
    background-color: #c3332f;
    padding: 10px;
    overflow: auto;
    justify-content: space-between;
    gap: 300px;
    overflow:scroll;
    
}

.experiences-grid p {
  align-items: center;
  text-align: center;
}

.experiences-grid img {
   border-radius: 100px;
   border: 0px solid black;
   width: 100px;
   height: 100px;
}

.experiences-grid h1 {
  color: black;
  font-size: xx-large;
  align-items: center;
}

.experiences-grid p {
  color: white;
  font-size: x-large;
}

/* Experiences END */

/* Ringriderfest info */

.ringridertext {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-rows: max-content;
}

#ringriderfesttext {
    color: #fff;
    font-family: 'poppins';
    letter-spacing: 20px;
    font-size: 100px;
    grid-auto-rows: max-content;
}
    
.festbox {
    display: flex;
    justify-content:center;
    gap: 40px;
    grid-auto-rows: max-content;
}

#festinfo {
    color: #fff;
    background-color: #c3332F;
    width: fit-content;
    height: 500px;
    padding: 40px;
    margin: 40px;
    border-radius: 30px;
    font-family: 'poppins';
    font-size: x-large;
    line-height: 40px ;
    
}

#infopic {
    width: 750px;
    height: 580px;
    padding: 40px;
}

.festbutton {
    display: flex;
    justify-content: center;
}

#rytterbutton {
    background-color: #C3332F;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    font-family: 'poppins';
    color: white;
    font-size: large;
}

/* info end */

/* Sponsor section */

.sponsor {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
}

.sponsortext {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.sponsortext img {
    height: 10px;
    width: 800px;
}

.sponsorimg {
    height: 100px;
    width: auto;
    background-color: #fff;
    padding: 40px;
    outline: 7px solid #C3332F;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 40px;
    animation: slide 15s linear infinite ;
}

@keyframes slide {
    0% {transform: translateX(0%)}
    100% {transform: translateX(-50%);}
}

/* END Sponsor section */

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 160px;
    padding: 80px;
}

.contact,
.adresse,
.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footer h3,
.footer p,
.footer a {
    text-align: center;
}

.contact img {
    width: 100px;
    height: 69px;
    object-fit: contain;
}

.socialmediaphotos {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    gap: 20px;
}

/* END Footer section */
